## Load data

QK file is too large,use duckdb to load data

In [1]:
import duckdb

In [3]:
# 创建或连接 DuckDB 数据库
db_path = "data/data.db"
con = duckdb.connect(database=db_path)

# 直接使用 DuckDB 读取 CSV 文件并创建表
print("Loading QB-article...")
con.execute("""
    CREATE TABLE IF NOT EXISTS QB_article AS 
    SELECT * FROM read_csv_auto('data/QB-article.csv')
""")

print("Loading QB-video...")
con.execute("""
    CREATE TABLE IF NOT EXISTS QB_video AS 
    SELECT * FROM read_csv_auto('data/QB-video.csv')
""")

print("Loading QK-article...")
con.execute("""
    CREATE TABLE IF NOT EXISTS QK_article AS 
    SELECT * FROM read_csv_auto('data/QK-article.csv')
""")

print("Loading QK-video...")
con.execute("""
    CREATE TABLE IF NOT EXISTS QK_video AS 
    SELECT * FROM read_csv_auto('data/QK-video.csv')
""")

print("Data has been successfully loaded into data/data.db")

# 关闭数据库连接
con.close()

Loading QB-article...
Loading QB-video...
Loading QK-article...
Loading QK-video...
Data has been successfully loaded into data/data.db

In [6]:
# 连接 DuckDB 数据库
db_path = "data/data.db"
con = duckdb.connect(database=db_path)

# 获取数据库中所有表名
tables = con.execute("SHOW TABLES").fetchall()
print(f"Tables in {db_path}: {[table[0] for table in tables]}")

# 遍历每个表，展示前五行和总行数
for table in tables:
    table_name = table[0]
    print(f"\nTable: {table_name}")

    # 查询前五行
    print("First 5 rows:")
    first_five_rows = con.execute(f"SELECT * FROM {table_name} LIMIT 5").fetchdf()
    print(first_five_rows)

    # 查询总行数
    total_rows = con.execute(f"SELECT COUNT(*) FROM {table_name}").fetchone()[0]
    print(f"Total rows: {total_rows}")

# 关闭数据库连接
con.close()

Tables in data/data.db: ['QB_article', 'QB_video', 'QK_article', 'QK_video']

Table: QB_article
First 5 rows:
   user_id  item_id  click  gender  age  exposure_count  click_count  \
0  4002398        1    1.0       1    7           67018         1969
1  4002398        2    1.0       1    7          235105         2305
2  4002398        3    1.0       1    7            4648          133
3  4002398        4    1.0       1    7            1256           89
4  4002398        5    1.0       1    7            6749          430

   like_count  comment_count  read_percentage  item_score1  item_score2  \
0           0             10              0.0            3          3.0
1           4              6             42.0            3          3.0
2           3              0             35.0            3          3.0
3           0              0              2.0            3          3.0
4           0              0             49.0            3          3.0

   category_second  category_first  item_score3
0            13002             130          7.0
1            10402             104          7.0
2            12300             123          6.0
3            11304             113          8.0
4            11302             113          6.0
Total rows: 348736

Table: QB_video
First 5 rows:
   user_id  item_id  click  follow  like  share video_category  \
0  3502303  1375832      0       0     0      0              1
1  3502303    32277      0       0     0      0              0
2  3502303  1425848      0       0     0      0              0
3  3502303  1480204      0       0     0      0              0
4  3502303  1406570      0       0     0      0              0

   watching_times  gender  age
0               1       0    0
1               1       0    0
2               1       0    0
3               1       0    0
4               1       0    0
Total rows: 2442299

Table: QK_article
First 5 rows:
   user_id  item_id  click  gender  age  exposure_count  click_count  \
0  4153556     7356    1.0       1    5         4440447       429537
1  4153556     7357    1.0       1    5          335637        46816
2  4153556     7358    1.0       1    5          100800        12361
3  4153556     7359    1.0       1    5            8158         1130
4  4153556     7360    1.0       1    5         2122822       200939

   like_count  comment_count  read_percentage  ...  item_score2  \
0       22761           4179             91.0  ...          3.0
1          61             96             34.0  ...          3.0
2          18            193             28.0  ...          3.0
3           2              0             62.0  ...          3.0
4         511            231             75.0  ...          3.0

   category_second  category_first  item_score3  read  read_time  share  \
0            11206             112          2.0  True      102.0  False
1            12103             121          5.0  True       23.0  False
2            11202             112          1.0  True       30.0  False
3            11007             110          6.0  True       24.0  False
4            10408             104          1.0  True       56.0  False

    like  follow  favorite
0  False   False     False
1  False   False     False
2  False   False     False
3  False   False     False
4  False   False     False

[5 rows x 21 columns]
Total rows: 46111728

Table: QK_video
First 5 rows:
   user_id  item_id  click  follow  like  share video_category  \
0        1        1      1       0     0      0              1
1        1        2      1       0     0      0              1
2        1        3      1       0     0      0              0
3        1        4      0       0     0      0              1
4        2        5      1       0     0      0              1

   watching_times  gender  age
0               1       1    4
1               1       1    4
2               1       1    4
3               0       1    4
4               1       1    4
Total rows: 493458970